<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AppComponent!</h3>
      <hr>
      <app-servers></app-servers> <!--add our component in root component--> <!---->
      <!--<div app-servers></div>--> <!--Angular now selects our component as attribute since we defined our selecter as [app-servers]-->
      <!--<div class="app-servers"></div>--> <!--Class selector, Angular does not support id selector and other sudo selector i.e. hover type selectors-->
    </div>
    <div class="col-xs-12">
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
